.login {
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    text-align: center;
  }
  
  .login form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  .login input:focus {
    outline: none;
    border-color: #0077b6;
  }
  
  .login input[type="email"],
  .login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .login p {
    font-size: 1rem;
    margin: 10px;
  }
  
  .login input[type="password"]:not(.valid) {
    border-color: #e53935;
  }
  
  .login button[type="submit"] {
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login button[type="submit"]:hover {
    background-color: #023e8a;
  }
  
  .error {
    color: #e53935;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  #email,
  #password {
  }
  